<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Registration Page</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <!-- 11-3-2021 -->
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheets/main.css">
</head>

<body>
  <div class="signin-form">
    <div class="container">
      <div class="signup">
        <form class="form" action="/users/register" method="post" id="regFormLpVal">
          <h1 class="heading">Create An Account</h1>
          <p class="sml">Please fill out the form below to access the tool</p>
          <div class="form-group has-search">
            <span class="form-control-feedback"><img src="../images/icon-user.svg" alt=""></span>
            <input type="text" class="form-control fname" placeholder="First Name" name="fname">
          </div>
          <div class="form-group has-search">
            <span class="form-control-feedback"><img src="../images/icon-user.svg" alt=""></span>
            <input type="text" class="form-control lname" placeholder="Last Name" name="lname">
          </div>
          <div class="form-group has-search">
            <span class="form-control-feedback"><img src="../images/icon-user.svg" alt=""></span>
            <input type="text" class="form-control username" placeholder="Username" name="username">
          </div>
          <div class="form-group has-search">
            <span class="form-control-feedback"><img src="../images/icon-envelope.svg" alt=""></span>
            <input type="text" class="form-control email" placeholder="Email" name="email">
          </div>
          <div class="form-group has-search">
            <span class="form-control-feedback"><img src="../images/icon-block.svg" alt=""></span>
            <input type="password" class="form-control password" placeholder="Password" name="password" id="password">
          </div>
          <div class="form-group has-search">
            <span class="form-control-feedback"><img src=../images/icon-block.svg" alt=""></span>
            <input type="password" class="form-control cpassword" placeholder="Confirm Password" name="cpassword">
          </div>
          <div class="clear"></div>
          <div class="form-group has-search full">
            <button type="submit" class="btn-blue input_submit2">Create An Account</button>
            <button onclick="location.href='/users/login'" class="btn-white">Existing User? <span class="txt-blue lrg">Login</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <script src="../javascripts/jquery-1.12.0.min.js" type="text/javascript"></script>
  <script src="../javascripts/bootstrap.min.js"></script>
  <script src="../javascripts/main.js" type="text/javascript"></script>
  <script src="../javascripts/jquery.validate.min.js" type="text/javascript"></script>

 
      <script type="application/javascript">
         <% if(error) { %>
            window.onload = function(){ 
                      alert("<%=error%>");
                      }
        <% } %>

        /***** START FORM VALIDATION *********/
        $(document).ready(function () {
          $(function () {
            $.validator.addMethod("lettersonly", function (value, element) {
              return this.optional(element) || /^[a-zA-Z\s]+$/i.test(value);
            }, "Letters only please.");
            $.validator.addMethod("valEmail", function (value, element) {
              // allow any non-whitespace characters as the host part
              return this.optional(element) || /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@(?:\S{1,63})$/.test(value);
            }, "Invalid mail ID");

            $("#regFormLpVal").validate({
              highlight: function (element) {
                $(element).parent('div').addClass('error');
              },
              unhighlight: function (element) {
                $(element).parent('div').removeClass('error');
              },
              errorClass: 'help-block',
              rules: {
                fname: { required: true, lettersonly: true },
                lname: { required: true, lettersonly: true },
                username: { required: true },
                password: { required: true, minlength: 7 },
                cpassword: { required: true, equalTo: "#password" },
                email: { required: true, valEmail: true },
              },
              messages: {
                fname: { required: 'This field is required.' },
                lname: { required: 'This field is required.' },
                email: { required: 'This field is required.' },
                username: { required: 'This field is required.' },
                password: { required: 'This field is required.', minlength: 'minimun 7 characters required' },
                cpassword: { required: 'This field is required.' },
                email: { required: 'This field is required.', equalTo: 'Password does not match' },
              }
            });
          });
        })

        function onlyCharacters(evt) {
          var e = window.event || evt; // for trans-browser compatibility

          var charCode = e.which || e.keyCode;
          //alert(charCode);

          if (charCode < 65 && charCode < 123)
            return false;

          return true;
        }
        /***** END FORM VALIDATION *********/

        //Upload on submit
        $(document).ready(function () {

          $(".input_submit2").click(function () {
            var fname = $('.fname').val();
            var lname = $('.lname').val();
            var username = $('.username').val();
            var email = $('.email').val();
            var password = $('.password').val();
            if (password != cpassword) {
              alert('Password doesnt match..');
            }
            else {
              // EXAMPLE FOR JQUERY AJAX COMPLETE FUNC.
              $.ajax({
                url: "http://localhost:3000/register",
                type: "POST",
                data: { "fname": fname, "lname": lname, "username": username, "email": email, "password": password },
                //dataType: 'jsonp', // Notice! JSONP <-- P (lowercase)
                headers: {
                  'Access-Control-Allow-Origin': '*'
                },
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                  console.log(data);
                },
                error: function (err) {
                  $('.input_submit2').val('Submit');
                }
              });
            }
          });
        })
      </script>

</body>

</html>